/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

header {
    text-decoration: none;
}

.page-nav {
    display: flex;
    gap: 40px;
    top: 24px;
    left: 347px;
    width: 261px;
    height: 24px;
}

.page-nav .link {
    text-decoration: none;
    list-style: none;
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav .link:hover {
    color: #4D5AE5;
}


.page-nav .link:focus {
    color: #4D5AE5;
    font-weight: bold;
}

ul {
    color: #2E2F42;
    list-style: none;
    font-family: Roboto, sans-serif;
}

.list-cont .link-cont {
    text-decoration: none;
    list-style: none;
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-cont .link-cont:hover {
    color: #4D5AE5;
}


body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

.section-hero {
    color: #FFFFFF;
    background-color: #2E2F42;
    height: 600px;
    width: 1440px;
    top: 72px;
}

.section-hero .cta-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-align: center;
    height: 56px;
    width: 169px;
    top: 428px;
    left: 636px;
    border-radius: 4px;
    cursor: pointer;
}

.section-hero .cta-btn:hover {
    background-color: #404BBF;
}

h1 {
    display: block;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    /*width: 496px;*/
    /*height: 120px;*/
    /*top: 260px;*/
    /*left: 472px;*/
    /*horiz-align: center;*/
}

.section-features {
    width: 1440px;
    height: 344px;
    top: 672px;
}

.section-features,
.section-team,
.section-portfolio {
    color: #434455;
}

.text-features-h2,
.text-team-h2,
.text-portfolio-h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
}

.list-feature {
    display: flex;
    height: 104px;
    width: 1128px;

}

.text-list {
    height: 104px;
    width: 264px;
}

.text-features-h3 {
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-features {
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.section-team {
    background-color: #F4F4FD;
    /*height: 732px;*/
    /*width: 1440px;*/
    /*top: 1016px;*/
}

.card {
    background-color: #FFFFFF;
}

 .text-team-h3 {
     font-family: Roboto, sans-serif;
     text-align: center;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
 }

 .text-team {
     font-family: Roboto, sans-serif;
     text-align: center;
     font-weight: normal;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

.text-portfolio-h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    width: 100%;
}

footer .logo {
    color: #F4F4FD;
}

.accent-text-logo {
    color: #4D5AE5;
}

footer .text-footer {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;
}

