/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

header {
    background-color: #E7E9FC;
    color: #404BBF;
    width: 100%;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

ul {
    color: #2E2F42;
    list-style: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-cont {
    text-decoration: none;
}

.contact {
    color: #404BBF;
    list-style: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


body {
    font-family: 'Roboto', 'Raleway', serif;
    background-color: #FFFFFF;
    color: #2E2F42;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

section {
    position: relative;
    padding: 80px;
}

div {
    color: #FFFFFF;
    background-color: #2E2F42;
    /*height: 600px;*/
    /*width: 1440px;*/
}



h1 {
    display: block;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    /*height: 120px;*/
    /*width: 600px;*/
}

button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-align: center;
    height: 56px;
    width: 169px;
    cursor: pointer;
}

h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.text-h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
}

.list-feature {
    display: flex;
    gap: 8px;

}

.text-list {
    height: 104px;
    width: 264px;
}

.text-h3 {
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-features {
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    /*height: 732px;*/
    width: 100%;
    background-color: #F4F4FD;
}

 .text-team-h3 {
     font-family: Roboto, sans-serif;
     text-align: center;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
 }

 .text-team {
     font-family: Roboto, sans-serif;
     text-align: center;
     font-weight: normal;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }


.section-portfolio {
    /*height: 1000px;*/
    width: 100%;
}

.text-portfolio-h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    width: 100%;
}

footer .logo {
    color: #F4F4FD;
}

.accent-text-logo {
    color: #4D5AE5;
}

footer .text-footer {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;
}

